<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client-id" content="856772302455-jk9qvh9rduhs2st3u54kf7t21ljts7vq.apps.googleusercontent.com">
    <title>chatapp</title>
     <script src="https://apis.google.com/js/platform.js" async defer></script>
     <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Allison&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

</head>
<body>
   <form >
   <div class="box">
       <img src="./welcome.png" class="imgprop" >
        <h1 class="txtfont1">hello again!</h1>
       <input type="text"  id="name" value=" name">
       <input type="text"  id="password" value=" Password">
       <input type="button"  class="submit">
       <h1 class="txtfont2">submit</h1>
       <div class="g-signin2"></div>
    
   </div>
   




   </form>
   <div class="animation-target " ></div> 
   <div class="animation-target p" ></div> 
</body>
</html>